<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <span class="brand"> <%= image_tag "ep_logo_small_2.png"%></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left" >
        <li><a href="#"><b>EADEN PROJECT</b></a></li>
        <li><a href="#">About</a></li>  
        <li><a href="#">Timetable</a></li>
        <li><a href="#">Memberships</a></li>      
        <li><a href="#">Workouts</a></li>
        <li><a href="http://www.123contactform.com/form-1636027/Enquiry-Form">Sign Up</a></li>
        <li><a href="#">Contact</a></li>
        
      </ul>
      
       
        </li>
      </ul>
      </div>
 </div>
</nav>