/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar-brand{
	padding-top: 0;
	padding-right: 40px;
}

.ephome{
	margin-right: 10px;
}

/************************************************************************
// =Navbar
*************************************************************************/

.navbar-default {
  background: #fff;
  border: none;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #f0f0f0;

 
}
.navbar.active {
  position: fixed;
  opacity: 0.95;
  border: 2px double #E8E8E8;
}

.navbar-nav {
  margin: 7.5px -10px;
}

.navbar-default .navbar-nav > li > a {
  color: #060606;
  text-transform: uppercase;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > 
.active > a:focus {
  background: transparent;
  color: #fc6e51;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fc6e51;
}

.dropdown-menu {
  top: 117%;
  font-size: 12px;
  text-transform: uppercase;
    -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-top: 0;
  padding: 12px 5px;
}

.dropdown-menu>li>a {
  padding: 3px 15px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #fc6e51;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
  color: #fc6e51;
}

.navbar-default .dropdown:hover>.dropdown-menu {
 
}
body { padding-top: 70px; }
